
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.bin
.gradle/7.0.2/executionHistory/executionHistory.lock
.idea/misc.xml
local.properties
